test/zm_cpp/src/CMakeFiles
test/zm_cpp/src/cmake_install.cmake
test/zm_cpp/src/CMakeCache.txt
test/zm_cpp/src/Makefile
test/zm_cpp/src/install_manifest.txt
.vscode/settings.json
test/zm_cpp/src/zmc
test/zm_cpp/src/libzm.a
test/zm_cpp/src/build
test/ffmpeg/src/FFmpeg
test/ffmpeg/src/FFmpeg-Basic/0-TestEnvironment/main
test/ffmpeg/src/FFmpeg-Basic/1-VideoDecoding/main
test/ffmpeg/src/FFmpeg-Basic/2-VideoEncoding/main
test/ffmpeg/src/FFmpeg-Basic/3-AudioDecoding/main
test/ffmpeg/src/FFmpeg-Basic/output
test/ffmpeg/src/FFmpeg-Basic/5-Remuxing/main
test/ffmpeg/src/FFmpeg-Basic/4-AudioEncoding/main
test/ffmpeg/src/FFmpeg-Basic/6-Tanscoding/main
/test/ffmpeg/ffmpeglibs
development/zoneminder/db/zm_update-1.31.30.sql
development/zoneminder/misc/nginx.conf
development/zoneminder/scripts/ZoneMinder/lib/ZoneMinder/ONVIF.pm
development/zoneminder/misc/zoneminder.desktop
development/zoneminder/misc/zm-sudo
development/zoneminder/scripts/zmonvif-probe.pl
development/zoneminder/scripts/zmrecover.pl
development/zoneminder/scripts/zmonvif-trigger.pl
development/zoneminder/scripts/zmstats.pl
development/zoneminder/scripts/zoneminder-zmonvif-probe.pl.8
development/zoneminder/scripts/zoneminder-zmonvif-probe.pl.8.gz
development/zoneminder/scripts/zoneminder-zmonvif-trigger.pl.8
development/zoneminder/scripts/zoneminder-zmonvif-trigger.pl.8.gz
development/zoneminder/scripts/zoneminder-zmrecover.pl.8
development/zoneminder/scripts/zoneminder-zmrecover.pl.8.gz
development/zoneminder/scripts/zoneminder-zmstats.pl.8
development/zoneminder/scripts/zoneminder-zmstats.pl.8.gz
development/zoneminder/src/libbcrypt/libbcrypt.a
development/zoneminder/web/api/app/Config/database.php
development/zoneminder/web/api/lib/Cake/bootstrap.php
development/zoneminder/CPackConfig.cmake
development/zoneminder/CPackSourceConfig.cmake
development/zoneminder/conf.d/01-system-paths.conf
