test/zm_cpp/src/CMakeFiles
test/zm_cpp/src/cmake_install.cmake
test/zm_cpp/src/CMakeCache.txt
test/zm_cpp/src/Makefile
test/zm_cpp/src/install_manifest.txt
.vscode/settings.json
test/zm_cpp/src/zmc
test/zm_cpp/src/libzm.a
